/* Back Button */
.st-key-Back button:hover {
    background-color: gold;
    border: gold;
}

.st-key-Back button:hover p {
    color: black;
}

.st-key-Back button:focus {
    color: gold;
}

.st-key-Back button:focus p {
    color: black;
}

/* Logout Button */
.st-key-Logout button {
    background-color: gold;
    color: black;
}

.st-key-Logout button:hover {
    background-color: red;
    border: none;
}

.st-key-Logout button:hover p {
    color: black;
}

.st-key-Logout button:focus {
    color: red;
}

.st-key-Logout button:focus p {
    color: black;
}

/* Signup Button */
.st-key-SignUp button:hover {
    background-color: gold;
    border: gold;
}

.st-key-SignUp button:hover p {
    color: black;
}

.st-key-SignUp button:focus {
    color: gold;
}

.st-key-SignUp button:focus p {
    color: black;
}

/* Team Settings Button */
.st-key-TeamSet button:hover {
    background-color: gold;
    border: none;
}

.st-key-TeamSet button:hover p {
    color: black;
}

.st-key-TeamSet button:focus {
    color: gold;
}

.st-key-TeamSet button:focus p {
    color: black;
}

/* Task Management Button */
.st-key-TaskMan button:hover {
    background-color: gold;
    border: none;
}

.st-key-TaskMan button:hover p {
    color: black;
}

.st-key-TaskMan button:focus {
    color: gold;
}

.st-key-TaskMan button:focus p {
    color: black;
}

/* Login Button */
.st-key-Login button:hover {
    background-color: gold;
    border: gold;
}

.st-key-Login button:hover p {
    color: black;
}

.st-key-Login button:focus {
    color: gold;
}

.st-key-Login button:focus p {
    color: black;
}

.st-key-Projects1 button:hover {
    background-color: gold;
    border: none;
    color: black;
}

.st-key-Projects2 button:hover {
    background-color: gold;
    border: none;
    color: black;
}

.st-key-Projects3 button:hover {
    background-color: gold;
    border: none;
    color: black;
}

.st-key-Projects4 button:hover {
    background-color: gold;
    border: none;
    color: black;
}

.st-key-Projects5 button:hover {
    background-color: gold;
    border: none;
    color: black;
}

.st-key-Projects6 button:hover {
    background-color: gold;
    border: none;
    color: black;
}

.st-eb {
    
    background-color: rgb(251, 215, 0);
  }
  .st-emotion-cache-13k62yr {
    
    color: rgb(251, 215, 0);
    color-scheme: dark;
    inset: 0px;
  }
  


.st-emotion-cache-ly2tw7 .dvn-scroller {

  scrollbar-width: auto;
  overflow: auto !important;
  overflow: auto;
}

.st-emotion-cache-1wpw75 {
 
  -moz-box-pack: center;
  justify-content: center;
  font-weight: 400;
  border-radius: 0.5rem;
  margin: 0px;
  color: inherit;
  width: auto;
  user-select: none;
  background-color: transparent;
  border: medium;
  padding: 0.375rem;
  font-size: 30px;
  display: flex;
  gap: 0.375rem;
  -moz-box-align: center;
  align-items: center;
  min-height: unset;
  line-height: 0.9rem;
  display: flex;
}

.st-emotion-cache-l2jqs4 {
  
  color: rgb(250, 250, 250);
  display: flex;
}

div.stDataFrameGlideDataEditor:nth-child(1) {
  
  --gdg-accent-color: gold;
  --gdg-accent-light: rgba(255, 215, 75, 0.1);
}

.st-bc {
 
  color: rgb(251, 215, 0);
  color: rgb(251, 215, 0);
}

div.stDataFrameGlideDataEditor:nth-child(1) {
  
  --gdg-resize-indicator-color: #ffd700;
}

.st-emotion-cache-15hul6a {

  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  font-weight: 400;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  min-height: 2.5rem;
  margin: 0px;
  line-height: 1.6;
  color: inherit;
  width: auto;
  user-select: none;
  background-color: rgb(19, 23, 32);
  border: 1px solid rgb(251, 215, 0);
  border: 1px solid rgb(251, 215, 0);
}




.st-e9 {
  
  color: rgb(0, 0, 0);
}



.st-emotion-cache-zv5w7x {
  
  color: rgb(0, 0, 0);
  font-size: 14px;
  display: block;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 1.5;
  font-size: 14px;
}

.st-emotion-cache-chy0qn {

  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0.75rem;
  margin-top: 0px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  color: rgb(0, 0, 0);
  display: grid;
  grid-auto-flow: row;
  gap: 0.375rem;
  color: rgb(0, 0, 0);
}

.st-emotion-cache-ddppg5 {
  
  margin-right: 0.375rem;
  appearance: none;
  border: 1px solid rgb(0, 0, 0);
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  padding: 0px;
  vertical-align: middle;
  overflow: hidden;
  width: 1rem;
}

body {
  
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(0, 0, 0);
}



.st-emotion-cache-lpgk4i:hover {

    border-color: rgb(251, 215, 0);
    color: rgb(0, 0, 0);
    background-color: rgb(251, 215, 0);
  }
  
  .st-emotion-cache-lpgk4i {
    
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 2.5rem;
    margin: 0px;
    line-height: 1.6;
    color: inherit;
    width: auto;
    user-select: none;
    background-color: rgb(43, 44, 54);
    border: 1px solid rgb(251, 215, 0);
    border: 1px solid rgb(251, 215, 0);
  }
  
  .st-b7 {
    
    background-color: rgb(38, 39, 48);
  }
  
  .st-b6 {
    border-bottom-color: rgb(251, 215, 0);
    
  }
  
.st-e9 {
    color: rgb(0, 0, 0);
  }
  
.st-cg {
    border-bottom-color: rgb(251, 215, 0);
  }
  